<div class="theme-toggler">
    <a asp-controller="Home"
       asp-action="ToggleTheme"
       aria-label="Toggle Theme"
       role="button">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </a>
</div>