@using LunchTime.Models.Locality.ViewModel
@{
    ViewData["Title"] = "Örtlichkeit Erstellen";
    @model LocalityEditor

}
<article>
    <h2>Örtlichkeit Erstellen</h2>

    <form asp-controller="Locality" asp-action="Create" method="POST" up-submit>
       <partial name="_Editor" model="@Model" />

        <button type="submit">Speichern</button>
    </form>
</article>